@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'pixel';
	src: url('/fonts/1982.ttf');
}
@font-face {
	font-family: 'coolvetica';
	src: url('/fonts/coolvetica.otf');
}

@font-face {
	font-family: 'steamy';
	src: url('/fonts/steamy.otf');
}

@font-face {
	font-family: 'science';
	src: url('/fonts/science.otf');
}

@font-face {
	font-family: 'jump';
	src: url('/fonts/jump.otf');
}
@font-face {
	font-family: 'aorell';
	src: url('/fonts/aorell.ttf');
}
@font-face {
	font-family: 'threeam';
	src: url('/fonts/threeam.otf');
}

@font-face {
	font-family: 'rainy';
	src: url('/fonts/rainy.ttf');
}
